.DS_Store
*.xcuserstate
server/frontend/node_modules/
server/frontend/dist/
server/frontend/.vite/
server/backend/secrets/db_password.txt
server/backend/secrets/jwt_secret_key.txt
server/backend/secrets/qr_secret_key.txt
